<section>
    <div class="panel-group" id="accordion">
        <h1 style="color: #2e6da4; font-weight: bold; margin-bottom: 25px; font-family: 'Caveat Brush', cursive;">&nbsp;
            &nbsp; Welcome Professor: {{teacher_name}} !</h1>

        <div class="panel panel-default panel-style">

            {{#each courses}}
                <div class="panel panel-collapse collapse in" style="padding-bottom: 20px">

                    <div class="panel-body"><h3
                            style="color: #eb3812; font-weight: bold; margin-bottom: 0px; padding-bottom: 0px; display:inline">{{this.course_code}}
                        - {{this.course_name}}</h3></div>

                    <h3 style="display: inline; margin-left: 18px; color: #2e6da4; font-family: 'Caveat Brush', cursive; padding-bottom:20px;">
                        Course Announcements: </h3>
                    {{this.course_announcements}}
                    <a href="#course{{this.course_id}}" data-toggle="modal" class="courseAnnouncementsHover fa fa-pencil" ></a>
                    <br/>
                    <br/>
                    <div class="table-responsive" style="padding-left: 45px">
                    <table class="table table-condensed">
                        <thead class="thead-inverse">
                        <tr>
                            <th class="col-xs-5">Assignment Description</th>
                            <th class="col-xs-4">Assignment Due Date</th>
                            <th class="col-xs-3">Published?</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each this.assignments}}
                            <tr>

                                <td>
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
                                            data-target="#assignment{{this.assignment_id}}">
                                         {{this.assignment_description}}<span class="fa fa-pencil"></span>
                                    </button>
                                </td>
                                <td>{{this.assignment_due_date}}</td>
                                <td>{{this.assignment_published_yes_no}}</td>
                            </tr>
                        {{/each}}

                        </tbody>
                    </table>
                    </div>
                    <div class="row">
                        <div class="col-md-1 col-md-offset-11">
                            <button type="button" class="btn btn-danger btn-lg pull-right" data-toggle="modal"
                                    data-target="#newAssignment{{this.course_id}}" style="margin-right: 20px">
                                <span class="fa fa-plus"></span> ADD NEW ASSIGNMENT
                            </button>
                        </div>
                    </div>

                </div>
            {{/each}}
        </div>
    </div>
</section>

{{#each courses}}

    <!-- ADD NEW ASSIGNMENT -->
    <div class="modal fade" id=newAssignment{{this.course_id}} tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"  style="color: #2e6da4;; font-size: 30px; font-weight: bold; font-family: 'Caveat Brush', cursive;">New Assignment</h4>
                </div>
                <div class="modal-body">
                    <form id="storyForm" name="assignment" method="post"
                          action="/createNewAssignment/{{this.course_id}}">
                        <h4>Assignment Description </h4>
                        <textarea name="description" cols="40" rows="3"></textarea>
                        <h4>Assignment Due Date </h4>
                        <input type="date" id="datePicker" name="dueDate">
                        <h4 style="margin-bottom: 0px">Do you wish to publish this assignment?</h4>
                        Selecting yes will propagate this assignment to your students. <br/>
                        <select name="published">
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Create Assignment</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- UPDATE COURSE ANNOUNCEMENTS -->
    <div class="modal fade" id="course{{this.course_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"  style="color: #2e6da4;; font-size: 30px; font-weight: bold; font-family: 'Caveat Brush', cursive;">Course Announcements</h4>
                </div>
                <div class="modal-body">
                    <form id="announcementsForm" name="announcements" method="post"
                          action="/updateCourseAnnouncements/{{this.course_id}}">
                        <textarea class="form-control" name="announcements" placeholder="Announcements"
                                  autofocus>{{this.course_announcements}} </textarea>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Update Announcements</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    {{#each this.assignments}}

        <!-- UPDATE EXISTING ASSIGNMENT -->
        <div class="modal fade" id="assignment{{this.assignment_id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel"  style="color: #2e6da4;; font-size: 30px; font-weight: bold; font-family: 'Caveat Brush', cursive;">{{this.assignment_description}}</h4>
                    </div>
                    <div class="modal-body">
                        <form id="updateDeleteForm" name="assignment" method="post"
                              action="/updateOrDeleteRouter/{{this.assignment_id}}">
                            <h4>Assignment Description</h4>
                            <textarea class="form-control" name="description" placeholder="Description"
                                      autofocus>{{this.assignment_description}} </textarea>

                            <h4>Assignment Due Date </h4>
                            <input type="date" name="dueDate"  value="{{this.assignment_due_date_picker}}">

                            {{#if this.assignment_published}}
                                <h4 style="margin-bottom: 0px">You have already published this assignment</h4>
                                <select name="published" disabled style="color: graytext">
                                    <option value="true" selected>Yes</option>
                                    <option value="false">No</option>
                                </select>
                            {{else}}
                                <h4 style="margin-bottom: 0px">Do you wish to publish this assignment?</h4>
                                Selecting yes will propagate this assignment to your students. <br/>
                                <select name="published">
                                    <option value="true">Yes</option>
                                    <option value="false" selected>No</option>
                                </select>
                            {{/if}}

                            <div class="modal-footer">
                                <button type="submit" value="delete" name="updateDelete" class="btn btn-danger pull-left" style="margin-left: 0px">Delete</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" value="update" name="updateDelete" class="btn btn-primary">Update Assignment</button>
                            </div>
                            <p style="font-size: 8px;">*Note: Deleting this assignment will propagate to your students planners</p>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {{/each}}
{{/each}}
